<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
    <input type="text" placeholder="Correo electrónico" formControlName="email">
    <input type="text" placeholder="Confirma el correo electrónico" formControlName="confirmEmail">
    <div formGroupName="passwordGroup">
        <input type="password" placeholder="Contraseña" formControlName="password">
        <input type="password" placeholder="Confirma contraseña" formControlName="confirmPassword">
    </div>
    <input type="text" placeholder="Rol" formControlName="user_rol">
    <button type="submit" [disabled]="user.invalid">Regístrate</button>
</form>
<p>Status: {{ user.status }}</p>
<span *ngIf="user.controls['passwordGroup'].hasError('notSame')">Las contraseñas no coinciden</span>